#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "discourse"
name = "Discourse"
description.en = "Discussion platform"
description.fr = "Plateforme de discussion"

version = "2025.11.0~ynh2"

maintainers = ["JimboJoe"]

[upstream]
license = "GPL-2.0"
website = "http://Discourse.org"
demo = "https://try.discourse.org"
code = "https://github.com/discourse/discourse"
cpe = "cpe:2.3:a:discourse:discourse"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "1G"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/forum"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

[resources]
    [resources.sources]
    [resources.sources.main]
    url = "https://github.com/discourse/discourse/archive/refs/tags/v2025.11.0.tar.gz"
    sha256 = "a7abd820abfa6f7f8d525ce0090a3fe08991d3533afd522badec8279f3272426"

    autoupdate.strategy = "latest_github_tag"

    [resources.sources.ldap-auth]
    url = "https://github.com/jonmbake/discourse-ldap-auth/archive/refs/tags/v0.8.0.tar.gz"
    sha256 = "34b29f82c67119076eb8323e11fb512ff95deeaeb5537fee46af7c83903e20cb"

    autoupdate.strategy = "latest_github_tag"
    autoupdate.upstream = "https://github.com/jonmbake/discourse-ldap-auth"

    [resources.sources.imagemagickv7]
    url = "https://github.com/ImageMagick/ImageMagick/archive/refs/tags/7.1.2-12.tar.gz"
    sha256 = "521fa7a8c0f664a3f5cf7437cbcc219f12bd6d5fe0c1fb014f212fa145076e60"

    autoupdate.strategy = "latest_github_tag"
    autoupdate.upstream = "https://github.com/ImageMagick/ImageMagick"

    [resources.sources.oxipng]
    amd64.url = "https://github.com/oxipng/oxipng/releases/download/v10.0.0/oxipng-10.0.0-x86_64-unknown-linux-gnu.tar.gz"
    amd64.sha256 = "f99966ea3dce29c7abfcdc768586e6df4c99f5e77cb9215e10c6f64182f09566"

    arm64.url = "https://github.com/oxipng/oxipng/releases/download/v10.0.0/oxipng-10.0.0-aarch64-unknown-linux-gnu.tar.gz"
    arm64.sha256 = "65523cf7e9625ffbc1dd3cfc4e9955dec401038b9f62bc00286bf24e90a00d6e"

    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/shssoichiro/oxipng"
    autoupdate.asset.amd64 = "^oxipng-.*-x86_64-unknown-linux-gnu\\.tar\\.gz$"
    autoupdate.asset.arm64 = "^oxipng-.*-aarch64-unknown-linux-gnu\\.tar\\.gz$"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "advancecomp",
        "brotli",
        "cmake",
        "g++",
        "gifsicle",
        "jhead",
        "jpegoptim",
        "libapr1-dev",
        "libcurl4-openssl-dev",
        "libjemalloc-dev",
        "libjemalloc2",
        "libjpeg-turbo-progs",
        "libpq-dev",
        "libreadline-dev",
        "libssl-dev",
        "libtcmalloc-minimal4",
        "libunwind-dev",
        "libxml2-dev",
        "libxslt1-dev",
        "libyaml-dev",
        "optipng",
        "pngcrush",
        "pngquant",
        "redis-server",
        "zlib1g-dev",

        # Dependencies of imagemagick
        "make",
        "libltdl-dev",
        "libbz2-dev", "zlib1g-dev", "libfreetype6-dev", "libjpeg-dev", "liblzma-dev",
        "libwebp-dev", "libtiff-dev", "librsvg2-dev",
        "libpng16-16", "libpng-dev",
        "libjpeg62-turbo", "libjpeg62-turbo-dev",
        "libheif1", "libheif-dev",
        "libde265-0", "libde265-dev",
        # ${LIBWEBP}

        "postgresql",
        "postgresql-client",
        "postgresql-contrib",
    ]
        [resources.apt.extras.postgresql]
        repo = "deb https://apt.postgresql.org/pub/repos/apt __YNH_DEBIAN_VERSION__-pgdg main 15"
        key = "https://www.postgresql.org/media/keys/ACCC4CF8.asc"
        packages = [
            "postgresql-15-pgvector",
        ]

    [resources.database]
    type = "postgresql"

    [resources.nodejs]
    version = "22"

    [resources.ruby]
    version = "3.3.6"
