#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "discourse"
name = "Discourse"
description.en = "Discussion platform"
description.fr = "Plateforme de discussion"

version = "3.5.0~ynh1"

maintainers = ["JimboJoe"]

[upstream]
license = "GPL-2.0"
website = "http://Discourse.org"
demo = "https://try.discourse.org"
code = "https://github.com/discourse/discourse"
cpe = "cpe:2.3:a:discourse:discourse"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "1G"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/forum"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

[resources]
    [resources.sources]
    [resources.sources.main]
    url = "https://github.com/discourse/discourse/archive/refs/tags/v3.5.0.tar.gz"
    sha256 = "13f69ed0201e1a71fe217d5afefa376fd6c1fbdabd086c550015dfe6d9820cb6"

    autoupdate.strategy = "latest_github_tag"

    [resources.sources.ldap-auth]
    url = "https://github.com/jonmbake/discourse-ldap-auth/archive/refs/tags/v0.7.0.tar.gz"
    sha256 = "4e4fbdfced35d169a1a5f55ff801bc2ca27b65c1badf33b4dfc551304f6e5147"

    autoupdate.strategy = "latest_github_tag"
    autoupdate.upstream = "https://github.com/jonmbake/discourse-ldap-auth"

    [resources.sources.imagemagickv7]
    url = "https://github.com/ImageMagick/ImageMagick/archive/refs/tags/7.1.2-1.tar.gz"
    sha256 = "9306407381a7bf0ac5d97074eca3ce9dfaac65ced4d44f6a47bc24fbfc693e9a"

    autoupdate.strategy = "latest_github_tag"
    autoupdate.upstream = "https://github.com/ImageMagick/ImageMagick"

    [resources.sources.oxipng]
    amd64.url = "https://github.com/oxipng/oxipng/releases/download/v9.1.5/oxipng-9.1.5-x86_64-unknown-linux-gnu.tar.gz"
    amd64.sha256 = "31988ec9631755c89466cc11397bd49346598f99cc2c48916d8bd4326e778f1f"

    arm64.url = "https://github.com/oxipng/oxipng/releases/download/v9.1.5/oxipng-9.1.5-aarch64-unknown-linux-gnu.tar.gz"
    arm64.sha256 = "5356a929eec64e8fb1673505b8c44239289ca84b469504a83f7158f1a021d6bf"

    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/shssoichiro/oxipng"
    autoupdate.asset.amd64 = "^oxipng-.*-x86_64-unknown-linux-gnu\\.tar\\.gz$"
    autoupdate.asset.arm64 = "^oxipng-.*-aarch64-unknown-linux-gnu\\.tar\\.gz$"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "advancecomp",
        "brotli",
        "cmake",
        "g++",
        "gifsicle",
        "jhead",
        "jpegoptim",
        "libapr1-dev",
        "libcurl4-openssl-dev",
        "libjemalloc-dev",
        "libjemalloc2",
        "libjpeg-turbo-progs",
        "libpq-dev",
        "libreadline-dev",
        "libssl-dev",
        "libtcmalloc-minimal4",
        "libunwind-dev",
        "libxml2-dev",
        "libxslt1-dev",
        "libyaml-dev",
        "optipng",
        "pngcrush",
        "pngquant",
        "redis-server",
        "zlib1g-dev",

        # Dependencies of imagemagick
        "make",
        "libltdl-dev",
        "libbz2-dev", "zlib1g-dev", "libfreetype6-dev", "libjpeg-dev", "liblzma-dev",
        "libwebp-dev", "libtiff-dev", "librsvg2-dev",
        "libpng16-16", "libpng-dev",
        "libjpeg62-turbo", "libjpeg62-turbo-dev",
        "libheif1", "libheif-dev",
        "libde265-0", "libde265-dev",
        # ${LIBWEBP}

        "postgresql",
        "postgresql-client",
        "postgresql-contrib",
    ]
        [resources.apt.extras.postgresql]
        repo = "deb https://apt.postgresql.org/pub/repos/apt __YNH_DEBIAN_VERSION__-pgdg main 15"
        key = "https://www.postgresql.org/media/keys/ACCC4CF8.asc"
        packages = [
            "postgresql-15-pgvector",
        ]

    [resources.database]
    type = "postgresql"

    [resources.nodejs]
    version = "22"

    [resources.ruby]
    version = "3.3.6"
